:root {
  --base: #232136;
  --surface: #2a273f;
  --overlay: #393552;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ea9a97;
  --pine: #3e8fb0;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight_low: #2a283e;
  --highlight_med: #44415a;
  --highlight_high: #56526e;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--base);
  color: var(--text);
  letter-spacing: 2px;
}

pre {
  font-family: "Courier New", Courier, monospace;
  color: var(--text);
  letter-spacing: 2px;
  text-align: left;
  tab-size: 5;
}

.truebody {
  border-style: solid;
  border-width: 5px;
  border-color: var(--overlay);
  margin-left: 4%;
  margin-right: 4%;
  background-color: var(--surface);
}

a {
  color: var(--foam);
  text-decoration: none;
}

hr {
  color: var(--subtle);
}

.window {
  line-height: 0%;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: var(--overlay) solid 5px;
}

.content {
  padding-left: 2%;
  padding-right: 2%;
}

.faint {
  color: var(--muted);
}

.ind1 {
  text-indent: 3%;
}
.ind2 {
  text-indent: 6%;
}
.ind3 {
  text-indent: 9%;
}

.inputbox {
  color: var(--text);
  background-color: var(--base);
  border: 5px solid var(--overlay);
  width: 100%;
  resize: vertical;
}
